<div class="app">
  <nav class="navbar">
    <div class="nav-left">
      <div class="nav-brand">
        <h2>Moovies</h2>
      </div>

      <div class="nav-main">
        <a routerLink="/home" class="nav-link">Home</a>
        <span class="nav-separator">|</span>
        <a routerLink="/movies" class="nav-link">Movies</a>
      </div>
    </div>

    <div class="nav-right">
      @if (!isLoggedIn()) {
      <a routerLink="/register" class="nav-link">Register</a>
      <span class="nav-separator">|</span>
      <a routerLink="/login" class="nav-link">Login</a>
      }

      @if (isLoggedIn()) {
        <a routerLink="/profile" class="nav-link">Profile</a>
        <span class="nav-separator">|</span>
        <button (click)="logout()" class="nav-link">Logout</button>
      }
    </div>
  </nav>

  <main class="main-content">
    <div class="main-content-wrapper">
      <router-outlet />
    </div>
  </main>
</div>
